@import 'definitions.styl'

.btn-try-now
  background-color rgba(0, 102, 204, 1)
  min-height 80px
  max-width 320px
  margin 0 auto
  line-height 140%
  white-space normal
  padding 20px 6px 12px
  border-radius 6px
  text-shadow 0 0 1px rgba(0, 0, 0, 0.3)
  transform translateZ(0)
  transition all 0.3s ease

  &:hover
    background #08539e

  .main-text
    font-size 28px
    font-family $font-headings

  .smaller-text
    font-size 13px
