@import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Open+Sans:300,400&subset=latin-ext'

@import 'definitions.styl'
@import 'btn_try_now.styl'

body.landing
  margin: 0
  font-family $font-text, sans-serif
  font-weight 300

.container
  width 100%
  min-height 100%
  padding 0
  overflow hidden

.content_part
  background-color white;
  min-height 10px
  padding-left 30px
  padding-right 30px

  &.first
    padding-top 80px
    @media (min-width 992px)
      padding-top 120px
      background url('/static/img/landing/screen.jpg') center top no-repeat

    .left
      padding-left 40px
      padding-top 60px
  &.features
    padding-top 40px
    padding-bottom 40px
    @media (min-width 768px)
      padding-top 80px
      padding-bottom 80px

    .feature-description
      @media (min-width 992px)
        padding-left 50px
        padding-right 50px

  &.grey
    background-color: #f8f8f8

  .row
    margin 0

  .logo
    margin 0 auto

  .content
    max-width 1110px
    margin 0 auto

@media (max-width: 360px)
  .container_part
    padding-left 5px
    padding-right 5px

#handy_description
  font-size 30px
  font-weight 400
  padding-top 30px
  line-height 120%
  font-family $font-headings
  @media (min-width 768px)
    font-size 34px

  strong
    font-weight 700

.text-center
  text-align center

.button-container
  margin 0 auto
  margin-top 30px

  #permissions_info
    font-size 14px
    max-width 350px
    margin 10px auto 0 auto

@media (max-width: 350px)
  .button-container
    width 100%

.learn-more-link
  text-decoration none
  color: #333
  position relative
  top: 80px

  &:hover
    text-decoration none
    color: #333

  .learn-more
    font-size 14px
    margin-bottom 0

  .arrow-down
    font-size 35px
    padding-bottom 80px
    position relative
    top: -15px

.features-row
  padding-top 20px
  padding-bottom 20px

  &.first
    padding-top 0

  img
    max-width 100%
    height auto
    @media (min-width 768px)
      transform scale(0.85) translateZ(0) rotate(0)
    transition all 0.3s ease-out

    &:hover
      cursor pointer
      @media (min-width 768px)
        transform scale(0.9) rotate(1deg)

  &.picture-right
    background: -moz-linear-gradient(left, #f8f8f8 0%, #f2f2f2 50%, #f8f8f8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f8f8f8 0%,#f2f2f2 50%,#f8f8f8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f8f8f8 0%,#f2f2f2 50%,#f8f8f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    img
      @media (min-width 768px)
        transform scale(0.85) translateZ(0) rotate(0)
      &:hover
        cursor pointer
        @media (min-width 768px)
          transform scale(0.9) rotate(-1deg)


  h3
    font-size 32px
    margin 10px 0
    font-family $font-headings
    position relative
    @media (min-width 992px)
      padding-top 40px

    &:before
      display none
      @media (min-width 768px)
        display block
      content '\25b6'
      color #06c
      font-size: 66%
      position absolute
      left -28px
      top: 6px
      @media (min-width 992px)
        top 46px

  p
    font-size 20px
    font-weight 300

h2
  font-family $font-headings
  font-size 36px
  margin 0 auto
  display block
  margin-bottom 30px
  text-align center
  @media (min-width 768px)
    font-size 46px

.better-experience
  padding-top 30px
  padding-bottom 40px
  @media (min-width 768px)
    padding-bottom 80px

  .grey
    background-color: #f8f8f8

  h2
    font-size: 28px
    line-height 34px
    margin 20px 0 0 0
    @media (min-width 992px)
      line-height 80px
      margin 0

.stats
  padding-top 40px
  padding-bottom 40px
  font-size 16px
  @media (min-width 768px)
    padding-top 80px
    padding-bottom 80px
    font-size 20px

  .item
    padding 10px
    @media (min-width 580px)
      width 25%
      padding 0

  .stats_number
    font-size 24px
    font-weight bold
    @media (min-width 768px)
      font-size 32px

.border-left
  border-left 1px solid #aaa

.try-now-container
  padding-bottom 30px
  @media (min-width 992px)
    padding-bottom 0

  .btn-try-now
    max-width 350px
    margin 0 auto

footer
  .content_part
    background #eee
    color #333

  .footer
    padding-top 40px
    padding-bottom 40px

    .footer-links
      line-height 25px
      vertical-align middle
      color #aaa
      text-align center
      @media (min-width 992px)
        text-align right

      a
        color #333
        position relative
        text-decoration none
        border-bottom transparent 1px solid
        transition border-color 0.3s ease

        &:hover
          border-bottom-color #aaa

    .footer-text
      font-size 16px
      text-align center
      @media (min-width 992px)
        text-align left

@media (min-width 768px)
  .features-row.picture-right
    .col-xs-12:first-child
      float right
      text-align right

    .col-xs-12:last-child
      float left

@media (min-width: 580px)
  .border-right
    border-right 1px solid #aaa

@media (max-width 767px)
  .features-row
    padding-bottom 40px
    padding-top 0
    text-align center

    img
      max-width 450px
      width 100%

    .text-col
      p
        font-size: 18px
        width 100%

  .content_part

    &.first
      .left
        padding-left 0
        padding-top 0
        padding-right 0

@media (max-width: 991px)
  .better-experience
    .col-xs-12:first-child h2
      margin-bottom 10px
    .col-xs-12:last-child a
      margin-top 10px

@media (min-width 351px)
  .show-350
    display none

@media (max-width 350px)
  .hide-350
    display none

@media (max-width: 310px)
  .col-xxs-12
    width 100% !important

  .border-left
    border-left none

  .border-right
    border-right none

.ekko-lightbox
  .modal-footer
    text-align center
