@import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Open+Sans:300,400&subset=latin-ext'
@import 'btn_try_now.styl'
@import 'statistics.styl'

html
    margin: 0 auto
    max-width: 1920px
    min-width: 286px

body
    padding-bottom: 40px

@media screen and (max-width: 767px)
    .navbar-top-links .dropdown-user
        left: 0
        right: auto

    #page-wrapper
        border-left: 0

    .sidebar
        border-right: 1px solid #e7e7e7

@media screen and (min-width: 768px)

    .dynamic-layout footer
        margin-left: 250px
        border-bottom 3px solid #f8f8f8
        border-top-width: 2px

.video-img img
    max-width: 100%;
    display: block
    margin-left: auto
    margin-right: auto

.video-img-tags
    display: inline;
    text-align: right;
    position: absolute;
    top: 3px;
    right: 3px;


.video-img-tags li
    display: inline;


.panel-heading img
    max-height: 30px;


.sidebar-option-include
    display: block;
    padding: 10px 15px;
    position: relative;
    color: #428bca;


.sidebar-option-include:hover
    background-color: #eee;


.sidebar-option-include-input
    position: relative;
    bottom: 0px;

// Don't display the spinner, only loading bar
#loading-bar .bar
  background: #e52d27

#loading-bar-spinner .spinner-icon
  border-top-color:  #e52d27
  border-left-color: #e52d27

#loading-bar-spinner
  position: absolute
  top: 20px
  left: 125px

.description
    white-space: pre-line

.group-channels
  max-height: 200px;
  padding-right: 10px
  overflow: auto;

  table.table
    td
      line-height 34px

#dateInput
    cursor: pointer

.pointerCursor, .cursorPointer
    cursor: pointer !important

a
    cursor: pointer

.loginWrapper
    margin-top: 25%
    text-align: center

.accountSwitchedWrapper
  margin-top 15%
  text-align center

.loginLogo
    padding-bottom: 15px


.login-panel
    margin-top: 0%

.navbar-brand img
    display: block
    max-width: 100px
    width: auto
    height: auto

.nodecoration, .nodecoration:hover, .nodecoration:focus
    text-decoration: none

abbr[title]
  border-bottom none

.channelOptions
    vertical-align: middle

.settingsCol
  min-height: 62px
  padding-bottom: 10px
  padding-top: 10px
  border: 1px solid #d0d0d0
  vertical-align: middle

.settingsColRight
  text-align: center

.settingsColLeft
  font-weight: bold

.autoIgnoreList
  max-height: 200px
  overflow: auto

.elevator-button
  display: none
  position: fixed
  z-index: 999
  right: 20px
  bottom: 20px
  cursor: pointer
  border: 1px solid black
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px

.elevator svg
  width: 40px
  height: 40px
  display: block
  margin: auto
  margin-bottom: 2px

.carousel
  height: 500px

  .carousel-caption
    z-index: 10

    background-color rgba(0,0,0, 0.5)
    width 100%
    left 0
    bottom 0

    padding-right 10px
    padding-left 10px
    padding-top 5px

    h1
      margin-top 0
      margin-bottom 2px

  .item
    height: 500px
    background-color: #777
    text-align center
    //position relative

    img
      max-height: 100%
      max-width: 100%
      width: auto
      height: auto
      position: absolute
      top: 10px
      left: 0
      right: 0
      margin: auto

  .carousel-indicators
    bottom: 0

  .carousel-control
    z-index 10

#readyBody
  text-align: center

.settings-row
  padding-left: 10px
  padding-right: 10px


.news-modal h3
  margin-top: 10px

.news-modal hr
  margin-top: 3px
  margin-bottom: 3px

a.black-link
  color: #333

.channels-search
  min-width: 300px

#youtube-down
  margin-top: 25%

.sync-container
  margin-top: 3%

  div.panel
    margin-top: 20px

#loading-data
  margin-top: 5%

.middle-important
  vertical-align: middle !important

.danger-zone
  margin-top: 40px

.white-text
  color: #fff

footer
  height: 40px
  padding: 5px
  text-align: center
  vertical-align: middle
  line-height: 30px
  border-top: 1px solid #e7e7e7
  background-color: #f8f8f8

  position: fixed
  left: 0
  right: 0
  bottom: 0

  z-index 100

.panel-frontend-error
  margin-top: 5%

.changelogWrapper
  margin-top: 5%
  text-align: center

  .panel
    text-align: left


.video-panel

  .panel-heading
    overflow: hidden

    .text
      display: inline-block
      min-width: 150px

.layout-img
  max-height: 30px

.layout-btn-group
  margin-top: 10px
  margin-bottom: 10px
  display: inline-block

.videoHeader
  display: inline-block

#spinner-container
  min-height: 60px

.sync-spinner
  margin-top: 40px

.loading-data-spinner
  margin-top: 10px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px)
  .btn-next-to-header
    margin-bottom: 10px

@media only screen and (min-width : 768px)
  .btn-next-to-header
    margin-top: 20px
  .col-next-to-header
    text-align: right

.navbar-search
  float: left
  margin-left: 20px
  max-width: 50%
  margin-top 8px

  @media (max-width 768px)
    display none

    margin-left 10px
    margin-right 10px
    margin-top 0
    max-width 100%


@media (min-width: 769px)
  .nav > li.sidebar-search:not(.date)
    display none

.navbar-show-search
  position: relative;
  float: right;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  width 34px
  height 34px

  &:hover, &:focus, .closed
    background-color: #ddd;

  @media (min-width 769px)
    display none

select.form-control
  width 50%
  min-width 200px
  margin 0 auto

.nav > li > a.fake-hover
  text-decoration: none
  background-color: #eee

.input-group.datetime-select
  width 50%
  min-width 200px
  margin 0 auto


.btn-block.ng-hide + .btn-block
  margin-top 0

.pre-line
  white-space pre-line

.cursorDefault
  cursor: default

.smaller
  font-size: 13px

.flex-wrap
  display: flex
  flex-wrap: wrap

.flex-col
  display: flex

.last-updated-video
  margin: 10px;

  & > div
    border: 1px solid #ddd
    border-radius: 4px;
    padding: 5px

  h5
    margin-bottom 0

  .btn-group
    margin-top 5px
    width 100%

    .btn
      width 33.3%

.plus-videos
  margin-left: 5px;
