<div class="col-lg-8 col-lg-offset-2 col-md-12">
  <div class="panel panel-default panel-frontend-error">
    <div class="panel-heading">
      <h3 class="panel-title">UNAUTHORIZED</h3>
    </div>
    <div class="panel-body">
      <p align="center">
        You can't do the thing you wanted to do. Sorry. But here, have this random video from your subscriptions.
      </p>
      <ng-include src="'/static/views/error_pages/_video.html'"></ng-include>
    </div>
  </div>
</div>
