<div class="col-lg-8 col-lg-offset-2 col-md-12">
  <div class="panel panel-default panel-frontend-error">
    <div class="panel-heading">
      <h3 class="panel-title">SERVER ERROR</h3>
    </div>
    <div class="panel-body">
      <p align="center">
        There was a problem on the server. Hopefully it won't happen again, but there is a system in place to make sure
        the admins get the message about the exception ASAP.
        But here, at least have this random video from your subscriptions.
      </p>
      <ng-include src="'/static/views/error_pages/_video.html'"></ng-include>
    </div>
  </div>
</div>
