<div class="row">
  <div class="col-xs-12 col-md-12">
    <h2>
      Channels
    </h2>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <form ng-submit="search()">
      <div class="form-group pull-right">
        <div class="input-group">
          <input type="text" ng-model="filter_query" class="form-control channels-search" placeholder="Search">
          <span class="input-group-addon cursorPointer" ng-click="search()">
            <i class="fa fa-search"></i>
          </span>

        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-12">
    <table class="table table-hover" width="100%">
      <thead>
      <tr>
        <th>
          <a ng-click="change_order(generate_order('channel__title'))" class="black-link nodecoration">
            <i class="fa"
               ng-class="{'fa-sort-alpha-asc': order == 'channel__title' || !order_active('channel__title'),
                           'fa-sort-alpha-desc': order == '-channel__title',
                           'text-info': order_active('channel__title')}"></i>
          </a>
          Title
        </th>
        <th class="text-center">
          <a ng-click="change_order(generate_order('last_video_published'))" class="black-link nodecoration">
            <i class="fa"
               ng-class="{'fa-sort-numeric-asc': order == 'last_video_published' || !order_active('last_video_published'),
                           'fa-sort-numeric-desc': order == '-last_video_published',
                           'text-info': order_active('last_video_published')}"></i>
          </a>
          Last video published
        </th>
        <th style="max-width: 200px; width: 200px;" class="text-center">
          <a ng-click="change_order(generate_order('-watched'))" class="black-link nodecoration">
            <i class="fa"
               ng-class="{'fa-sort-numeric-asc': order == 'watched',
                           'fa-sort-numeric-desc': order == '-watched' || !order_active('watched'),
                           'text-info': order_active('watched')}"></i>
          </a>
          Watched this month <abbr title="Calculated once a day">*</abbr>
        </th>
        <th style="max-width: 200px; width: 200px;" class="text-center">
          <a ng-click="change_order(generate_order('-watched_percentage'))" class="black-link nodecoration">
            <i class="fa"
               ng-class="{'fa-sort-numeric-asc': order == 'watched_percentage',
                           'fa-sort-numeric-desc': order == '-watched_percentage' || !order_active('watched_percentage'),
                           'text-info': order_active('watched_percentage')}"></i>
          </a>
          Watched % of videos <abbr title="Calculated once a day">*</abbr>
        </th>
        <th style="max-width: 200px; width: 200px;" class="text-center">
          Actions
        </th>
      </tr>
      </thead>
      <tr ng-repeat="subscription in subscriptions">
        <td class="middle-important">
          <a ui-sref="videos.channel({slug: subscription.channel.slug})" class="nodecoration black-link">
            <img ng-src="{{ channelThumbnail(subscription) }}" width="25px" height="25px">

            {{ subscription.channel.title }}
          </a>
        </td>
        <td class="text-center">
          <span ng-show="subscription.last_video_published">{{ subscription.last_video_published | datetime }}</span>
          <span ng-hide="subscription.last_video_published">Never published anything</span>
        </td>
        <td ng-show="subscription.channel.videos_this_month" class="text-center">
          {{ subscription.watched_this_month }} out of {{ subscription.channel.videos_this_month }}
        </td>
        <td ng-show="subscription.channel.videos_this_month" class="text-center">
          {{ subscription.watched_this_month_percentage|number:2 }} %
        </td>
        <td ng-hide="subscription.channel.videos_this_month" colspan="2" class="text-center">
          <small>(no videos uploaded this month)</small>
        </td>
        <td class="text-center">
          <big><big>  <!-- I know, but it fixes the problem -->
            <a ng-click="favorite_change(subscription)"
               title="Favorite"
               class="pointerCursor nodecoration">
              <i class="fa fa-star" style="color: #ffd700" ng-show="subscription.favorite"></i>
              <i class="fa fa-star-o" style="color: #ffd700" ng-hide="subscription.favorite"></i>
            </a>

            <a ng-click="unsubscribe(subscription)" title="Unsubscribe" class="pointerCursor nodecoration">
              <i class="fa-trash-o fa"></i>
            </a>

            <a href="http://youtube.com/channel/{{ subscription.channel.youtube_id }}"
               target="_blank"
               title="YouTube Page"
               class="nodecoration">
              <i class="fa-external-link fa"></i>
            </a>
          </big></big>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="bootstrap-pagination text-center">
      <ul class="pagination pagination-md" ng-show="total_count > limit">
        <li ng-class="{'disabled': offset == '0'}" class="prev">
          <a ng-click="goTo(offset-limit)">
            <i class="fa fa-arrow-left"></i> Previous page</a>
        </li>
        <li ng-class="{'active': offset == limit*($index)}"
            ng-repeat="page in total_count/limit | range">
          <a ng-click="goTo(limit*($index))">{{$index+1}}</a></li>
        <li ng-class="{'disabled': offset + limit > total_count}" class="next">
          <a ng-click="goTo(offset+limit)">Next page <i class="fa fa-arrow-right"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
