{% extends 'static_layout.html' %}
{% load i18n %}

{% block content %}
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default" id="loading-data">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "404 NOT FOUND" %}</h3>
      </div>
      <div class="panel-body">
        <p align="center">{% trans "This url was not found. Sorry." %}</p>
      </div>
    </div>
  </div>
{% endblock %}
