{% extends 'static_layout.html' %}
{% load i18n %}

{% block content %}
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default" id="loading-data">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "500 Internal Server Error" %}</h3>
      </div>
      <div class="panel-body">
        <p align="center">{% trans "There was a unexpected server error. Sorry." %}</p>
        {% if request.sentry.id %}
          <p align="center">
            {% blocktrans with sentry=request.sentry.id %}
              You can contact us at {{ email }} with the reference id {{ sentry }}
            {% endblocktrans %}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block customjavascript %}
  <script src="/static/js/raven.min.js" type="text/javascript"></script>

  {% if true %}
    <script>
      Raven.showReportDialog({
        eventId: '{{ request.sentry.id }}',
        dsn: '{{ sentry_dns }}',
        {% if user %}
          user: {
            name: "{{ user.get_full_name }}",
            email: "{{ user.email }}",
            id: "{{ user.id }}"
          }
        {% endif %}

        });
    </script>
  {% endif %}

{% endblock %}
