{% extends 'static_layout.html' %}
{% load i18n %}

{% block content %}
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="accountSwitchedWrapper">
      <img src="/static/img/logo-login.png" class="loginLogo"/>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Account switched" %}</h3>
        </div>
        <div class="panel-body text-center">
          <p>{% trans "You've tried to login as a different user while logged in, so we logged you out. Please login again with the account you wish to use." %}</p>

          <a class="btn btn-primary btn-block btn-try-now"
             href="{% url 'social:begin' 'google-oauth2' %}?next={% url "login" %}{% if write_access_cookie %}&write_access=true{% endif %}">
            <span class="main-text hide-350">Login to BetterSubBox</span>
            <span class="main-text show-350">Login</span>
            <br>
            <span class="smaller-text">Sign in with your Google account</span>
          </a>
          <br>
          <a href="{% url 'index' %}" class="btn btn-default">{% trans "Go back to homepage" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
