{% extends 'static_layout.html' %}

{% block content %}

  <div class="col-md-8 col-md-offset-2">
    <div class="changelogWrapper">
      <img src="/static/img/logo-login.png" class="loginLogo"/>

      <div class="panel panel-default">
        <div class="panel-heading">
          Changes in 1.6 (19. 11. 2018)
        </div>
        <div class="panel-body">
          <ul>
            <li>Updated and/or frozen more dependencies</li>
            <li>Added the last updated video to the sidebar, so the update can be reversed easily</li>
            <li>Implemented a new view which only shows one latest video from the channel
              with the number of videos uploaded since the last watched video from that channel.
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Changes in 1.5 (26. 5. 2018)
        </div>
        <div class="panel-body">
          <ul>
            <li>Updated and/or frozen dependencies</li>
            <li>Added an option to exclude channels from a group from the main feed</li>
            <li>Once per day running a check that all videos were actually logged from past two days,
              fixes <a href="https://gitlab.com/mikulaspoul/BetterSubBox/issues/49">#49</a>.
            </li>
            <li>Conditional use of SyncLogs, a more effective approach.</li>
            <li>
              Fix versions: <strong>v1.5.1 - v1.5.2</strong>
              <ul>
                <li>Enforcing the 24 characters limit on group names.</li>
                <li>Fixed a weird a bug of not showing some videos in a channel view.</li>
                <li>Fixed not being able to access with a underscore in channel name.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Changes in 1.4 (16. 9. 2017)
        </div>
        <div class="panel-body">
          <ul>
            <li>Now using Python 3.6 instead of Python 2.7, upgraded some libraries.</li>
            <li>
              Fix versions: <strong>v1.4.1 - v1.4.7</strong>
              <ul>
                <li>Minor fixes</li>
                <li>Can now parse duration of videos longer than 24 hours.</li>
                <li>Using flexbox to make alternative layouts work (stopped supporting older browsers).</li>
                <li>Added a link to GitLab issues.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Changes in 1.3 (17. 6. 2017)
        </div>
        <div class="panel-body">
          <ul>
            <li>Updated synchronizing subscriptions, process should be faster and it's more clear,
              it shows new subscriptions as well. Updated token expiry process.
            </li>
            <li>Resync can only be done ad hoc from now.</li>
            <li>Updated some stuff behind the scenes, so the website should be safer and quicker.</li>
            <li>Reworked statistics (wow, such graphs)</li>
            <li>Calculating number of uploaded videos and number of watched videos
              per channel to display in channel list.
            </li>
            <li>Fixed loading problems for channels that publish videos
              at exact times all at once (Looking at you Colbert YouTube channel!)
            </li>
            <li>Fixed errors on multiple state updates at once.</li>
            <li>The code is now OpenSource (via <a href="https://gitlab.com/mikulaspoul/BetterSubBox"
                                                   target="_blank">GitLab</a>), under the MIT license
            </li>
            <li>Buttons in error notifications when unsubscribing.</li>
            <li>
              Fix versions: <strong>1.3.1 - 1.3.15</strong>
              <ul>
                <li>Minor errors and most importantly it seems that Colberts channel seems to work OK now.</li>
                <li>I mean really, I've had it with these mothereffing problems with syncing Colbert on this
                  mothereffing page.
                </li>
                <li>Watch time in statistics is now displayed in hours instead of minutes</li>
                <li>Fixed https issues and problems with the full page video player.</li>
                <li>The Colbert channel still wasn't working fine, moved it from a cron to a celery task.</li>
                <li>Colbert YouTube channel is the bane of my existance.</li>
                <li>Fixed a small JS issue.</li>
                <li>Implemented a monitoring log of youtube videos sync</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Changes in 1.2 (30. 3. 2017)
        </div>
        <div class="panel-body">
          <ul>
            <li>Improved behaviour when YouTube login credentials are expired - when unsubscribing and syncing
              subscriptions
            </li>
            <li>Asking for readonly permissions by default, write access is optional for unsubscribing.</li>
            <li>Another updates to scrolling issues when switching pages.</li>
            <li>
              Fix versions: <strong>1.2.1 - 1.2.4</strong>
              <ul>
                <li>Fixed deadlock when a channel was empty.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Changes in 1.1 (24. 10. 2016)
        </div>
        <div class="panel-body">
          <ul>
            <li>Prioritizing channels to load new videos for to save YouTube Usage Quotas
              (Based on upload frequency. Highest priority also given to favorite channels)
            </li>
            <li>
              Fix versions: <strong>1.1.1 - 1.1.9</strong>
              <ul>
                <li>Improved loading speed</li>
                <li>Fixed some JS errors</li>
                <li>Hopefully fixed loading incorrect data when going to channel detail</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Changes in 1.0 (23. 10. 2016)
        </div>
        <div class="panel-body">
          <ul>
            <li>Added a landing page with an overview of features (UX and some UI by Marek Eiba &middot; <a
              href="http://marekeiba.cz/" target="_blank">marekeiba.cz</a>)
            </li>
            <li>Added a slideshow of features to the first-login page</li>
            <li>Enhanced the synchronization of subscriptions</li>
            <li>Loading of videos should be faster</li>
            <li>Added two more layouts of displaying videos in the feeds</li>
            <li>Added a list of channels</li>
            <li>Moved group management</li>
            <li>Favorite channels can be now set up as the home page</li>
            <li>Privated and deleted videos do not show up in the feed anymore</li>
            <li>Added embedded player</li>
            <li>Added a news framework that can deliver news to users</li>
            <li>Added slugs to urls, on channels and groups</li>
            <li>Made serious speed improvements</li>
            <li>Added error handling with user feedback</li>
            <li>Loading watched videos from YouTube and marking them as watched here</li>
            <li>Sooo many other things</li>

            <li>
              Fix versions: <strong>1.0.0 - 1.0.7</strong>
              <ul>
                <li>Max video title length extended</li>
                <li>Fixed duplicate states creation</li>
              </ul>
            </li>

          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Changes in 0.2 (31. 8. 2015)
        </div>
        <div class="panel-body">
          <ul>
            <li>Changed the way information about videos are loaded.
              <ul>
                <li>On the first go, only a title and publish date is loaded, so the video is listable and searchable
                  through fulltext.
                </li>
                <li>When video is requested, all the other information is loaded. This extra data is stored for 24 hours
                  and deleted to save space.
                </li>
              </ul>
            </li>
            <li>Fulltext search is only limited to title.</li>
            <li>You can unsubscribe directly from the site.</li>
            <li>You can favorite channels, videos of favorited channels have a special view.</li>
            <li>Settings moved from modal to a normal page.</li>
            <li>AutoIgnore - ignores new videos from specific channels which title contains the inputed string.</li>
            <li>Initializing readmore through a directive.</li>
            <li>
              Implemented elevator.
              <ul>
                <li>The sound can be disabled in settings.</li>
                <li>Audio (sourced from <a href="http://www.bensound.com/" target="_blank">BenSound</a>) is licenced
                  under <a href="http://www.bensound.com/licensing" target="_blank">Creative Commons</a>.
                </li>
              </ul>
            </li>
            <li>
              Made loading of javascripts files faster.
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Changes in 0.1.3 (25. 2. 2015)
        </div>
        <div class="panel-body">
          <ul>
            <li>Added a logo and a favicon by Marek Eiba (<a href="http://marekeiba.cz/"
                                                             target="_blank">marekeiba.cz</a>)
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Changes in 0.1.2 (19. 2. 2015)
        </div>
        <div class="panel-body">
          <ul>
            <li>Added statistics on time watched</li>
            <li>YouTube only/Google+ page accounts user now have their name in the top right corner.</li>
            <li>When a new video is loaded while you're using BetterSubBox, it will appear only after refresh and when
              you click Load more, the duplicates don't show up anymore.
            </li>
            <li>If there is a problem with loading an initial video, it is skipped and the user is redirected to the
              interface.
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Changes in 0.1.1 (20. 1. 2015)
        </div>
        <div class="panel-body">
          <ul>
            <li>Added About site</li>
            <li>Added Statistics site</li>
            <li>Fixed parsing the length of videos longer than a hour</li>
            <li>Session runs out after the browser is closed, so a problem with Google authorization is avoided.</li>
            <li>The loading screen shows up just the first time you log in.</li>
            <li>When you request subscription sync, it will be performed after you login the next time</li>
            <li>Unless you request subscription sync, it won't happen on login</li>
            <li>Refresh button</li>
            <li>Link from channel page to YouTube</li>
            <li>You can set up a option that hides videos older then a certain date from newest videos...</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
