{% extends 'static_layout.html' %}

{% block content %}

  <div class="col-md-6 col-md-offset-3">
    <div class="loginWrapper">
      <a href="/"><img src="/static/img/logo-login.png" class="loginLogo"/></a>
      <div class="login-panel panel panel-green">
        <div class="panel-heading">
          <h3 class="panel-title">Disconnected</h3>
        </div>
        <div class="panel-body">
          <p>You have disconnected your YouTube account from BetterSubBox,
            we will keep the record of your subscriptions and the states you created for a month.
            If you reregister again in that time, you'll continue with your old video states. </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
