<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Mikuláš Poul">

  <title>BetterSubBox</title>


  <!-- build:css /static/styles/vendor.min.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="../bower/angular-loading-bar/build/loading-bar.css"/>
  <link rel="stylesheet" href="../bower/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css"/>
  <link rel="stylesheet" href="../bower/angular-growl-v2/build/angular-growl.css"/>
  <link rel="stylesheet" href="../bower/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
  <link rel="stylesheet" href="../bower/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../bower/morris.js/morris.css"/>
  <!-- endbower -->
  <link href="../css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
  <link href="../css/sb-admin-2.css" rel="stylesheet">
  <!-- endbuild -->

  <link rel="icon" type="image/png" href="/static/img/favicon.png">

  <link href="/static/styles/main.css" rel="stylesheet">

</head>

<body ng-app="bettersubboxApp" class="dynamic-layout">

{% include "partials/splash_screen.html" %}


{% block content %} {% endblock %}

{% include "partials/footer.html" %}

<!-- build:js /static/scripts/vendor.min.js -->
<!-- bower:js -->
<script src="../bower/angular/angular.js"></script>
<script src="../bower/json3/lib/json3.js"></script>
<script src="../bower/jquery/dist/jquery.js"></script>
<script src="../bower/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower/angular-resource/angular-resource.js"></script>
<script src="../bower/angular-cookies/angular-cookies.js"></script>
<script src="../bower/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower/angular-route/angular-route.js"></script>
<script src="../bower/jquery-ui/jquery-ui.js"></script>
<script src="../bower/flow.js/dist/flow.js"></script>
<script src="../bower/ng-flow/dist/ng-flow.js"></script>
<script src="../bower/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower/angular-loading-bar/build/loading-bar.js"></script>
<script src="../bower/momentjs/moment.js"></script>
<script src="../bower/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="../bower/angular-growl-v2/build/angular-growl.js"></script>
<script src="../bower/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<script src="../bower/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
<script src="../bower/angular-youtube-mb/src/angular-youtube-embed.js"></script>
<script src="../bower/readmore-js/readmore.min.js"></script>
<script src="../bower/spin.js/spin.js"></script>
<script src="../bower/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="../bower/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="../bower/raven-js/dist/raven.min.js"></script>
<script src="../bower/raven-js/dist/plugins/angular.min.js"></script>
<script src="../bower/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
<script src="../bower/eve-raphael/eve.js"></script>
<script src="../bower/raphael/raphael.min.js"></script>
<script src="../bower/mocha/mocha.js"></script>
<script src="../bower/morris.js/morris.js"></script>
<!-- endbower -->
<script src="../js/plugins/metisMenu/metisMenu.min.js"></script>
<script src="../js/sb-admin-2.js"></script>
<script src="../js/elevator.js"></script>
<script src="../js/custom-bootstrap-switch.js"></script>
<script src="../js/modernizr-custom.js"></script>
<!--<script src="../js/timer.js"></script>-->
<!-- endbuild -->

<script type="text/javascript">
  var youtubeLoaded = false;
  setTimeout(callback, 2000);

  function callback() {
    if (!youtubeLoaded && !{{ offline_mode | safe }}) {
      window.location.href = "/youtube_down";
    }
  }

  Raven
    .config('{{ sentry_dsn }}', {
      {% if sentry_version %}
        release: "{{ sentry_version }}",
      {% endif %}
      {% if disable_sending_sentry %}
        shouldSendCallback: function (data) {
          return false;
        },
      {% endif %}
    })
    .addPlugin(Raven.Plugins.Angular)
    .install();
  Raven.setUserContext({
    name: "{{ user.get_full_name }}",
    email: "{{ user.email }}",
    id: "{{ user.id }}"
  })
</script>

<script src="https://www.youtube.com/iframe_api" onload="youtubeLoaded=true;"></script>

<script src="/static/scripts/scripts.min.js"></script>


<script type="text/javascript">
  var amountScrolled = 200;

  $(window).scroll(function () {
    if ($(window).scrollTop() > amountScrolled) {
      $('.elevator-button').fadeIn('slow');
    } else {
      $('.elevator-button').fadeOut('slow');
    }
  });
</script>

{% block customjavascript %}{% endblock %}

{% include "partials/analytics.html" %}

</body>

</html>
