<html>
<head>
  <style type="text/css">
    html, body {
      height: 100%;
      margin: 0;
    }

    .video-embed {
      min-height: 100%;
    }

    .video-embed iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
<div class="video-embed">
  <iframe src="https://www.youtube.com/embed/{{ video }}?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
</div>
</body>
</html>
