{% extends 'dynamic_layout.html' %}

{% block content %}
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <button type="button" class="navbar-show-search closed" ng-click="showSearch=!showSearch">
          <i class="fa fa-search"></i>
        </button>

        <a class="navbar-brand" href="" ng-click="newest()">
          <img src="/static/img/logo-login.png" title="BetterSubBox">
        </a>
      </div>

      <div class="navbar-search" ng-controller="SearchCtrl" ng-include="'/static/views/partials/search.html'">
      </div>

      <ng-include ng-controller="TopbarCtrl" src="'/static/views/partials/topbar.html'"></ng-include>

      <ng-include ng-controller="SidebarCtrl" src="'/static/views/partials/sidebar.html'"></ng-include>

    </nav>

    <div id="page-wrapper" ng-controller="MainCtrl">
      <div ui-view></div>
    </div>
  </div>
  <div growl></div>
  <a class="elevator-button" ng-click="elevator.elevate()">
    <div class="elevator">
      <svg class="sweet-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" height="100px" width="100px">
          <path d="M70,47.5H30c-1.4,0-2.5,1.1-2.5,2.5v40c0,1.4,1.1,2.5,2.5,2.5h40c1.4,0,2.5-1.1,2.5-2.5V50C72.5,48.6,71.4,47.5,70,47.5z M47.5,87.5h-5v-25h5V87.5z M57.5,87.5h-5v-25h5V87.5z M67.5,87.5h-5V60c0-1.4-1.1-2.5-2.5-2.5H40c-1.4,0-2.5,1.1-2.5,2.5v27.5h-5 v-35h35V87.5z"/>
          <path d="M50,42.5c1.4,0,2.5-1.1,2.5-2.5V16l5.7,5.7c0.5,0.5,1.1,0.7,1.8,0.7s1.3-0.2,1.8-0.7c1-1,1-2.6,0-3.5l-10-10 c-1-1-2.6-1-3.5,0l-10,10c-1,1-1,2.6,0,3.5c1,1,2.6,1,3.5,0l5.7-5.7v24C47.5,41.4,48.6,42.5,50,42.5z"/>
        </svg>
    </div>
  </a>
{% endblock %}

{% block customjavascript %}
  <script type="text/javascript">

    var user = {{ currentUser | safe }};
    var news = {{ news | safe }};
    var offline_mode = {{ offline_mode | safe }};
    var debug = {{ debug | safe }};
    var activeBootstrapSize = "";
    var load_watched_task = {{ load_watched_task | safe }};
    var cache_time = {{ cache_time }};
    var credentials_refresh_with_unsubscribe = "{% url 'social:begin' 'google-oauth2' %}?next={% url 'unsubscribe' 'PK' %}{% if write_access_cookie %}&write_access=true{% endif %}";

    var serialized_messages = {{ serialized_messages|default_if_none:"{}" | safe}};

  </script>

{% endblock %}
