{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  {% include "partials/headers.html" %}

  <title>BetterSubBox</title>

  <!-- build:landingCss /static/styles/landing_vendor.min.css -->
  <link href="../bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="../bower/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../bower/ekko-lightbox/dist/ekko-lightbox.min.css" rel="stylesheet" type="text/css">
  <!-- endbuild -->

  <link rel="icon" type="image/png" href="/static/img/favicon.png">

  <link href="/static/styles/landing.css" rel="stylesheet">

</head>

<body class="landing">

<div class="container">
  <div class="content_part first">
    <div class="content">
      <div class="row">
        <div class="col-md-7 col-sm-12 left">
          <div class="text-center">
            <img src="{% static "img/logo-login.png" %}" alt="BetterSubBox"
                 class="logo img-responsive">

            <p id="handy_description">
              <strong>Handy free tool for managing <br class="visible-md visible-lg">your YouTube subscriptions</strong>
            </p>

            <div class="button-container">
              <a class="btn btn-primary btn-block btn-try-now"
                 href="{% url 'social:begin' 'google-oauth2' %}?next={% url "login" %}{% if write_access_cookie %}&write_access=true{% endif %}">
                <span class="main-text hide-350">Try BetterSubBox now</span>
                <span class="main-text show-350">Try it now</span>
                <br>
                <span class="smaller-text">Sign in with your Google account</span>
              </a>

              <p id="permissions_info">
                BetterSubBox will ask for your e-mail, basic profile and&nbsp;read-only YouTube account permissions.
              </p>
            </div>

          </div>

        </div>

        <div class="col-sm-12 text-center">
          <a href="#features" class="learn-more-link">
            <p class="learn-more">learn more</p>
            <p class="arrow-down"><i class="fa fa-angle-down"></i></p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="content_part features grey" id="features">
    <div class="content">

      <h2>Take&nbsp;control and&nbsp;have&nbsp;fun!</h2>

      {% for feature in features %}
        <div class="row features-row {% cycle "" "picture-right" %}{% if forloop.first %} first{% endif %}">
          <div class="col-sm-6 col-xs-12">
            <a href="{{ feature.large_image }}" data-toggle="lightbox" data-gallery="features"
               data-title="{{ feature.header }}"
               data-footer="{{ feature.description|linebreaksbr }}"
            >
              <img src="{{ feature.image }}" class="img-fluid">
            </a>

          </div>
          <div class="col-sm-6 col-xs-12 text-col">
            <div class="feature-description">
              <h3>{{ feature.header }}</h3>
              {{ feature.description|linebreaks }}
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
  <div class="content_part">
    <div class="content stats">
      <div class="row text-center">
        <div class="col-xs-12">
          <h2>BetterSubBox looks&nbsp;after</h2>
        </div>
        <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 item border-bottom">
          <span class="stats_number">{{ stats.channels }}</span><br>
          channels
        </div>
        {% comment %}<div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 item ">
          <span class="stats_number">{{ stats.users }}</span><br>
          users
        </div>{% endcomment %}
        <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 item border-left border-right border-bottom">
          <span class="stats_number">{{ stats.subscriptions }}</span><br>
          subscriptions
        </div>
        <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 item xxs-border-bottom">
          <span class="stats_number">{{ stats.videos }}</span><br>
          unique videos
        </div>
        <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 item border-left">
          <span class="stats_number">{{ stats.states }}</span><br>
          states
        </div>
      </div>
    </div>
  </div>
  <div class="content_part better-experience">
    <div class="content">
      <div class="row">
        <div class="col-xs-12 col-md-7 grey">
          <h2>Have a Better YouTube experience!</h2>
        </div>
        <div class="col-xs-12 col-md-5 grey try-now-container">
          <a class="btn btn-primary btn-block btn-try-now"
             href="{% url 'social:begin' 'google-oauth2' %}?next={% url "login" %}{% if write_access_cookie %}&write_access=true{% endif %}">
            <span class="main-text hide-350">Try BetterSubBox now</span>
            <span class="main-text show-350">Try it now</span>
            <br>
            <span class="smaller-text">Sign in with your Google account</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="content_part">
    <div class="content footer">
      <div class="row">
        <div class="col-sm-12 col-md-6 footer-text">
          &copy; {% now "Y" %} BetterSubBox.com <span class="hidden-xs"> - </span><br class="visible-xs">Better YouTube
          experience

        </div>
        <div class="col-sm-12 col-md-6 footer-links">
          <a href="https://twitter.com/bettersubbox" target="_blank">twitter</a> |
          <a href="mailto:{{ info_email }}">{{ info_email }}</a><span class="hidden-xs"> | </span>
          <br class="visible-xs">
          <a href="{% url "changelog" %}">changelog</a> |
          <a href="https://gitlab.com/mikulaspoul/BetterSubBox" target="_blank">source</a><span
          class="hidden-xs"> | </span>
          <br class="visible-xs">
          <a href="https://gitlab.com/mikulaspoul/BetterSubBox/issues" target="_blank">report issue</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- build:landingJs /static/scripts/landing_vendor.min.js -->
<script src="../bower/jquery/dist/jquery.js" rel="stylesheet"></script>
<script src="../bower/bootstrap/dist/js/bootstrap.js" rel="stylesheet"></script>
<script src="../bower/ekko-lightbox/dist/ekko-lightbox.min.js" rel="stylesheet"></script>

<!-- endbuild -->

<script type="text/javascript">
  $(function () {
    $('a[href*="#"]:not([href="#"])').click(function () {
      if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 500);
          return false;
        }
      }
    });
  });

  $(document).on('click', '[data-toggle="lightbox"]', function (event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
</script>

{% include "partials/analytics.html" %}

</body>
