{% extends 'static_layout.html' %}
{% load i18n %}


{% block content %}

  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="panel panel-default" id="loading-data">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Loading Data" %}</h3>
      </div>
      <div class="panel-body">
        <div id="loadingDataCarousel" class="carousel slide" data-ride="carousel" data-interval="1500000">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {% for slide in slides %}
              <li data-target="#loadingDataCarousel" data-slide-to="{{ forloop.counter0 }}"
                  {% if forloop.first %}class="active"{% endif %}>
              </li>
            {% endfor %}

          </ol>
          <div class="carousel-inner" role="listbox">

            {% for slide in slides %}
              <div class="item {% if forloop.first %}active{% endif %}">
                <img src="{{ slide.img }}" alt="{{ slide.header }}">

                <div class="container">
                  <div class="carousel-caption">
                    <h1>{{ slide.header }}</h1>
                    <p>
                      {{ slide.text }}
                    </p>
                  </div>
                </div>
              </div>

            {% endfor %}

          </div>
          <a class="left carousel-control" href="#loadingDataCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">{% trans "Previous" %}</span>
          </a>
          <a class="right carousel-control" href="#loadingDataCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">{% trans "Next" %}</span>
          </a>
        </div><!-- /.carousel -->
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body text-center" id="synchronizingBody">
        <p>
          {% blocktrans %}
            We're currently downloading list of your subscriptions.
          {% endblocktrans %}
        </p>
        <div id="spinner-container">
        </div>
      </div>

      <div class="panel-body text-center" id="loadingBody" style="display: none;">
        <p>
          {% blocktrans %}
            Some of the channels you subscribe to are new for us, we need to download the list of their videos first.
          {% endblocktrans %}
        </p>
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped"
               role="progressbar"
               aria-valuenow="0"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 0%;min-width: 70px;"
               id="loadingBar">
            <span id="loadingBarText"></span>
          </div>
        </div>
      </div>
      <div class="panel-body" id="readyBody" style="display: none;">
        <p>
          {% blocktrans %}
            All data are ready to go, you can continue to the site.
          {% endblocktrans %}
        </p>
        <a class="btn btn-primary" href="/">
          {% trans "Continue" %}
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block customjavascript %}
  <script type="text/javascript">
    $(function () {
      var spinner = new Spinner({
        color: 'black',
        lines: 12,
        className: "loading-data-spinner"
      }).spin(document.getElementById("spinner-container"));

      // function that loads every 5 seconds how the progress is going.
      function checkLoaded() {
        var slide_down = false;
        $.getJSON("{% url 'data_ready' %}", function (data) {
          if (data.ready == true) { // if it's done, it shows the page
            if (!slide_down) {
              spinner.stop();
              $("#synchronizingBody").slideUp();
            }
            $("#loadingBody").slideUp();
            $("#readyBody").slideDown();
          } else {
            if (!slide_down) {
              slide_down = true;
              spinner.stop();
              $("#synchronizingBody").slideUp();
              $("#loadingBody").slideDown();
            }

            $("#loadingHeader").text("{% trans 'Loading channels' %}");
            percentage = (data.count - data.not_loaded_count) / data.count * 100;
            $("#loadingBar").attr("aria-valuenow", percentage).css("width", percentage + "%");
            $("#loadingBarText").text((data.count - data.not_loaded_count) + "/" + data.count);
            setTimeout(checkLoaded, 5000);
          }
        });

      }

      setTimeout(checkLoaded, 3000);
    });

  </script>
{% endblock %}
