{% extends 'static_layout.html' %}

{% block content %}
  <div class="col-md-4 col-md-offset-4 col-xs-12">
    <div class="loginWrapper">
      <img src="/static/img/logo-login.png" class="loginLogo"/>

      {% for message in messages %}
        <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %} fade in">
          {{ message }}
        </div>
      {% endfor %}

      <a class="btn btn-primary btn-block btn-try-now"
         href="{% url 'social:begin' 'google-oauth2' %}?next={% url "login" %}{% if write_access_cookie %}&write_access=true{% endif %}">
        <span class="main-text hide-350">Login to BetterSubBox</span>
        <span class="main-text show-350">Login</span>
        <br>
        <span class="smaller-text">Sign in with your Google account</span>
      </a>
    </div>
  </div>
{% endblock %}
