<!DOCTYPE html>
<html lang="en">

<head>

  {% include "partials/headers.html" %}

  <title>BetterSubBox</title>

  <!-- build:nondynamicCss /static/styles/nondynamic_vendor.min.css -->
  <link href="../bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="../bower/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css"/>
  <link href="../css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
  <link href="../css/sb-admin-2.css" rel="stylesheet">
  <link href="../bower/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- endbuild -->

  <link rel="icon" type="image/png" href="/static/img/favicon.png">

  <link href="/static/styles/main.css" rel="stylesheet">

</head>

<body class="static-layout">

<div class="container">
  <div class="row">
    {% block content %}{% endblock %}
  </div>
</div>

{% include "partials/footer.html" %}

<!-- build:nondynamicJs /static/scripts/nondynamic_vendor.min.js -->
<script src="../bower/jquery/dist/jquery.min.js"></script>
<script src="../bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="../js/plugins/metisMenu/metisMenu.min.js"></script>
<script src="../js/sb-admin-2.js"></script>
<script src="../bower/spin.js/spin.js"></script>
<!-- endbuild -->

<script type="text/javascript">
  $.francis = function (options) {
    return $.ajax(options);
  }
</script>


{% block customjavascript %}{% endblock %}

{% include "partials/analytics.html" %}

<script type="text/javascript">
  var applyContainerHeight = function () {
    var height = $(window).height();
    $("#staticContainer").css("min-height", height - 40);
  };

  $(document).ready(function () {
    applyContainerHeight();
  });

  $(window).resize(function () {
    applyContainerHeight();
  });
</script>

</body>

</html>
