{% extends 'static_layout.html' %}
{% load i18n %}

{% block content %}

  <div class="col-md-8 col-md-offset-2 col-xs-12 sync-container">
    <div class="panel panel-default" id="loading-subscriptions">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Loading..." %}</h3>
      </div>
      <div class="panel-body text-center">
        <p>
          {% blocktrans %}
            The synchronization takes a while, please wait a couple of seconds.
          {% endblocktrans %}
        </p>
        <div id="spinner-container">

        </div>
      </div>
    </div>

    <div class="panel panel-default" id="failed" style="display: none">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Failed" %}</h3>
      </div>
      <div class="panel-body text-center">
        <p>
          {% blocktrans %}
            The synchronization failed unfortunately, probably because of expired login info from Google.
            Please login again and the synchronization will start automatically.
          {% endblocktrans %}
        </p>
        <div class="text-center">
          <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url "synchronize" %}{% if write_access_cookie %}&write_access=true{% endif %}"
             class="btn btn-primary">
            {% trans "Refresh login token" %}
          </a>
        </div>
      </div>
    </div>

    <div class="panel panel-default" id="nothing-new" style="display: none">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Nothing new" %}</h3>
      </div>
      <div class="panel-body text-center">
        <p>
          {% blocktrans %}
            We didn't detect any changes to your subscriptions.
          {% endblocktrans %}
        </p>
        <div class="text-center">
          <a href="{% url "index" %}" class="btn btn-primary">{% trans "Return back" %}</a>
          <a class="btn btn-danger resync">{% trans "Sync again" %}</a>
        </div>
      </div>
    </div>

    <div class="panel panel-default" id="subscriptions-confirm" style="display: none">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Unsubscribe confirmation" %}</h3>
      </div>
      <div class="panel-body">
        <p>{% blocktrans %}
          Sometimes, the subscription synchronization process sends false positives,
          so we have this confirmation process. Once you select the channels you want to unsubscribe
          from, the change will be applied on BetterSubBox. You can turn off this feature in your
          settings
        {% endblocktrans %}</p>
        <div class="btn-group btn-group-justified">
          <a class="btn btn-danger resync">{% trans "Sync again" %}</a>
          <a class="btn btn-info" id="confirmAll">{% trans "Confirm all" %}</a>
          <a class="btn btn-primary" id="save">{% trans "Save" %}</a>
        </div>
        <br>
        <div class="table-responsive">
          <form method="post" id="form">
            {% csrf_token %}
            <table class="table">
              <tr>
                <th>{% trans "Channel" %}</th>
                <th class="text-right">{% trans "Confirm" %}</th>
              </tr>
              <tbody id="rows-container">

              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>

    <div class="panel panel-default" id="delete-list" style="display: none">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "List of unsubscribed channels" %}</h3>
      </div>
      <div class="panel-body">
        <p>
          {% blocktrans %}
            You've setup to unsubscribe automatically, here's the list of channels you've unsubscribed from:
          {% endblocktrans %}
        </p>
        <ul>
        </ul>
      </div>
    </div>

    <div class="panel panel-default" id="new-list" style="display: none">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "List of new subscriptions" %}</h3>
      </div>
      <div class="panel-body">
        <p>
          {% blocktrans %}
            You've subscribed to these channels:
          {% endblocktrans %}
        </p>
        <ul>
        </ul>
      </div>
    </div>

    <div class="panel panel-default" id="btn-back" style="display: none">
      <div class="panel-body text-center">
        <a href="{% url "index" %}" class="btn btn-primary">{% trans "Return back" %}</a>
        <a class="btn btn-danger resync">{% trans "Sync again" %}</a>
      </div>
    </div>

  </div>

{% endblock %}

{% block customjavascript %}
  <script type="text/javascript">
    var task_id = "{{ task_id }}";

    $(function () {
      var formRow = function (title, sub_id) {
        return '<tr>' +
          '   <td class="middle-important">' + title + '</td>' +
          '   <td class="text-right"><input type="checkbox" name="con_' + sub_id + '" class="checkbox"></td>' +
          ' </tr>'
      };

      var formItem = function (title) {
        return '<li>' + title + '</li>';
      };

      var check_result = function () {
        $.francis({
          url: "{% url 'synchronize_result' %}",
          data: {
            task_id: window.task_id
          },
          success: function (data) {
            if (!data.ready) {
              setTimeout(check_result, 5000);
              return;
            }

            $("#loading-subscriptions").slideUp();

            if (data.failed) {
              $("#failed").slideDown();
              return;
            }

            var nothing_new = $("#nothing-new");

            if (data.delete.length + data.new.length == 0) {
              nothing_new.slideDown();
              return;
            }

            var list;
            if (data.delete.length) {
              if (data.deleted) {
                var delete_list = $("#delete-list");
                delete_list.slideDown();
                list = delete_list.find("ul");
                list.empty();

                for (i = 0; i < data.delete.length; i++) {
                  list.append(formItem(data.delete[i].channel_name));
                }
                $("#btn-back").slideDown();

              } else {
                $("#subscriptions-confirm").slideDown();
                var rows_container = $("#rows-container");
                rows_container.empty();

                for (i = 0; i < data.delete.length; i++) {
                  rows_container.append(formRow(data.delete[i].channel_name, data.delete[i].id));
                }

                $(".checkbox").bootstrapSwitch();
              }
            }

            if (data.new.length) {
              var new_list = $("#new-list");
              if (!data.delete.length || data.deleted) {
                $("#btn-back").slideDown();
              }

              new_list.slideDown();
              list = new_list.find("ul");
              list.empty();

              for (i = 0; i < data.new.length; i++) {
                list.append(formItem(data.new[i].channel_name));
              }

            }

          }
        })
      };

      var reload = function () {
        $("#loading-subscriptions").slideDown();
        $("#subscriptions-confirm").slideUp();
        $("#nothing-new").slideUp();
        $("#delete-list").slideUp();
        $("#new-list").slideUp();
        $("#btn-back").slideUp();

        new Spinner({
          color: 'black',
          lines: 12,
          className: "sync-spinner"
        }).spin(document.getElementById("spinner-container"));

        check_result();
      };

      reload();

      $(".resync").on("click", function () {
        $.francis({
          url: "{% url 'synchronize_new_request' %}",
          method: "GET",
          success: function (data) {
            window.task_id = data.task_id;
            reload();
          }
        })
      });

      $("#save").on("click", function () {
        $.francis({
          url: "{% url 'synchronize_bulk_delete' %}",
          method: "POST",
          data: $("#form").serializeArray(),
          success: function (data) {
            window.location = "/";
          }

        })
      });

      $("#confirmAll").on("click", function () {
        $(".checkbox").prop("checked", true).bootstrapSwitch("state", true);
      });


    });
  </script>
{% endblock %}
