{% extends 'static_layout.html' %}
{% load i18n %}


{% block content %}
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="loginWrapper">
      <img src="/static/img/logo-login.png" class="loginLogo"/>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "YouTube is down" %}</h3>
        </div>
        <div class="panel-body text-center">
          <p>{% trans "This site requires YouTube to be up for its operation, but we tried to load some things from YouTube and it seems down, but we're sure the YouTube monkeys are working on it. Please, come back later." %}</p>
          <a href="{% url 'index' %}" class="btn btn-default">Try again.</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
