<form ng-submit="SearchService.search(SearchService.searchQuery)">
  <div class="input-group custom-search-form">
    <input type="text" class="form-control" placeholder="Search in videos"
           ng-model="SearchService.searchQuery">
    <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </span>

  </div>
</form>
