<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search" ng-include="'/static/views/partials/search.html'">
      </li>
      <li>
        <a ng-click="newest()"><i class="fa fa-home fa-fw"></i> Feed</a>
      </li>
      <li class="devider includeFilters"></li>
      <li class="sidebar-option-include includeFilters">
                            <span>
                                <i class="fa fa-eye fa-fw"></i> Include watched:
                            </span>
        <span class="pull-right sidebar-option-include-input">
                                <input bs-switch type="checkbox" ng-model="includeWatched"
                                       switch-on-text="Yes" switch-off-text="No"
                                       switch-size="mini" ng-true-value="true" ng-false-value="false"
                                       ng-change="update('includeWatched', includeWatched)">
                            </span>
      </li>
      <li class="sidebar-option-include includeFilters">
        <span><i class="fa fa-eye-slash fa-fw"></i> Include ignored: </span>
        <span class="pull-right sidebar-option-include-input">
                                <input bs-switch type="checkbox" ng-model="includeIgnored"
                                       switch-on-text="Yes" switch-off-text="No"
                                       switch-size="mini" ng-true-value="true" ng-false-value="false"
                                       ng-change="update('includeIgnored', includeIgnored)">
                            </span>
      </li>
      <li class="sidebar-option-include includeFilters">
        <span><i class="fa fa-clock-o fa-fw"></i> Include for later: </span>
        <span class="pull-right sidebar-option-include-input">
                                <input bs-switch type="checkbox" ng-model="includeForLater"
                                       switch-on-text="Yes" switch-off-text="No"
                                       switch-size="mini" ng-true-value="true" ng-false-value="false"
                                       ng-change="update('includeForLater', includeForLater)">
                            </span>
      </li>

      <li class="devider"></li>
      <li>
        <a ui-sref="videos.for_later"><i class="fa fa-clock-o fa-fw"></i> For Later</a>
      </li>
      <li>
        <a ui-sref="videos.watched"><i class="fa fa-eye fa-fw"></i> Watched</a>
      </li>
      <li>
        <a ui-sref="videos.ignored"><i class="fa fa-eye-slash fa-fw"></i> Ignored</a>
      </li>
      <li class="devider"></li>
      <li>
        <a ui-sref="videos.favorites"><i class="fa fa-star fa-fw" style="color: #ffd700;"></i> Favorite channels</a>
      </li>
      <li>
        <a ui-sref="videos.only_latest_video"><i class="fa fa-filter fa-fw"></i> Only latest video</a>
      </li>
      <li>
        <a>
          <i class="fa fa-folder fa-fw"></i> Groups<span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li ng-repeat="group in groups">
            <a ui-sref="videos.group({slug: group.slug})">{{ group.name }}</a>
          </li>

          <li ng-show="!groups.length" class="cursorDefault">
            <a ui-sref="groups.list" class="black-link smaller">Set up groups here.</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="channels-menu"><i class="fa fa-user fa-fw"></i> Channels<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a ui-sref="channels.list" class="black-link smaller">List</a>
          </li>
          <li>
            <a class="pointerCursor channels-filter">
              <input type="text" class="form-control" placeholder="Filter channels by..."
                     ng-model="channelQuery" ng-change="filterChannels(channelQuery)">
            </a>
          </li>
          <li ng-repeat="channel in channels">
            <a ui-sref="videos.channel({slug: channel.slug})">{{ channel.title }}</a>
          </li>
        </ul>
      <li>
      <li class="sidebar-search date">
        <div class="dropdown">
          <a class="dropdown-toggle" id="DatePickerDropdown" role="button"
             data-toggle="dropdown">
            <div class="input-group">
              <input type="text" class="form-control"
                     ng-model="dateDisplay" placeholder="Go to a date"
                     readonly id="dateInput">
              <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="searchByDate()">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker ng-model="date"
                            data-datetimepicker-config="{ dropdownSelector: '#DatePickerDropdown', minView: 'day' }"
                            ng-change="updateDate(date)"></datetimepicker>
          </ul>
        </div>
      </li>
      <li class="devider"></li>
      <li>
        <a ui-sref="statistics"><i class="fa fa-bar-chart-o fa-fw"></i> Statistics</a>
      </li>

    </ul>

    <div class="hidden-xs last-updated-video" ng-if="VideoService.last_updated_video">
      <h4>Last updated video:</h4>

      <div class>
        <div class="video-img">
          <a href="https://youtube.com/watch?v={{ VideoService.last_updated_video.youtube_id }}"
             target="_blank">
            <img ng-src="{{ VideoService.videoThumbnail(VideoService.last_updated_video)}}">
          </a>
        </div>

        <h5>{{ VideoService.last_updated_video.title }}</h5>

        <small>
          By <a
          ui-sref="videos.channel({slug: VideoService.last_updated_video.channel.slug})">{{ VideoService.last_updated_video.channel.title }}</a>
        </small>

        <div class="btn-group">
          <a class="btn btn-default btn-sm"
             ng-class="(!VideoService.last_updated_video.state || VideoService.last_updated_video.state.watched==false) ? 'btn-default' : 'btn-info'"
             ng-click="VideoService.setState(VideoService.last_updated_video, 'watched', (!VideoService.last_updated_video.state || VideoService.last_updated_video.state.watched==false), true)"
          >Watched</a>

          <a class="btn btn-default btn-sm"
             ng-class="(!VideoService.last_updated_video.state || VideoService.last_updated_video.state.ignored==false) ? 'btn-default' : 'btn-info'"
             ng-click="VideoService.setState(VideoService.last_updated_video, 'ignored', (!VideoService.last_updated_video.state || VideoService.last_updated_video.state.ignored==false), true)"
          >Ignored</a>

          <a class="btn btn-default btn-sm"
             ng-class="(!VideoService.last_updated_video.state || VideoService.last_updated_video.state.for_later==false) ? 'btn-default' : 'btn-info'"
             ng-click="VideoService.setState(VideoService.last_updated_video, 'for_later', (!VideoService.last_updated_video.state || VideoService.last_updated_video.state.for_later==false), true)"
          >For Later</a>

        </div>

      </div>
    </div>
  </div>
  <!-- /.sidebar-collapse -->
</div>
