<ul class="nav navbar-top-links navbar-right">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-disabled="true" href="">
      <i class="fa fa-user fa-fw"></i> {{ user.first_name }} {{ user.last_name }} <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li>
        <a ui-sref="settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
      </li>
      <li>
        <a ui-sref="auto_ignores"><i class="fa fa-eye-slash fa-fw"></i> Auto ignores</a>
      </li>
      <li>
        <a ui-sref="groups.list"><i class="fa fa-folder fa-fw"></i> Manage groups</a>
      </li>
      <li>
        <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
      </li>
    </ul>
  </li>
</ul>
