<footer>
  BetterSubBox --version-- &copy; {% now "Y" %}
  <span class="hidden-xs">
    &middot;
    <a href="{% url "changelog" %}" {% if not footer_blank %}target="_blank"{% endif %}>Changelog</a>
    &middot;
    <a href="https://gitlab.com/mikulaspoul/BetterSubBox" target="_blank">Source</a>
    &middot;
    <a href="https://gitlab.com/mikulaspoul/BetterSubBox/issues" target="_blank">Report issue</a>
  </span>
</footer>
