<div class="m-app-loading" ng-animate-children>
  <!-- http://www.bennadel.com/blog/2758-creating-a-pre-bootstrap-loading-screen-in-angularjs.htm -->
  <style type="text/css">

    div.m-app-loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100000;
    }

    div.m-app-loading div.animated-container {
      background-color: #fff;
      bottom: 0;
      left: 0;
      opacity: 1.0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 999999;
    }

    div.m-app-loading div.messaging {
      color: black;
      font-family: monospace;
      left: 0;
      margin-top: -37px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 50%;
    }

    div.m-app-loading h1 {
      font-size: 26px;
      line-height: 35px;
      margin: 0 0 20px 0;
      min-height: 60px;
    }

    div.m-app-loading p {
      font-size: 18px;
      line-height: 14px;
      margin: 0 0 0 0;
    }

  </style>


  <!-- BEGIN: Actual animated container. -->
  <div class="animated-container">

    <div class="messaging">

      <h1>
        <img src="/static/img/logo-login.png" alt="BetterSubBox" class="logo">
      </h1>

      <p>
        <img src="/static/img/spinner.gif" alt="Loading..." class="loading-gif">
      </p>

    </div>

  </div>
  <!-- END: Actual animated container. -->

</div>
