<div class="col-md-4 col-md-offset-4">
  <div class="panel panel-default" id="loading-data">
    <div class="panel-heading">
      <h3 class="panel-title">404 NOT FOUND</h3>
    </div>
    <div class="panel-body">
      <p align="center">This url was not found. Sorry.</p>
    </div>
  </div>
</div>
