<div class="row">
  <div class="col-xs-12 col-md-12">
    <h2>Auto Ignores</h2>
    <p>If you create an Auto Ignore, every new video from the selected channel which contains the string in the title
      will be automatically ignored.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="autoIgnoreList">
      <table class="table table-hover" width="100%">
        <thead>
        <tr>
          <th>Channel</th>
          <th>String</th>
          <th>Created</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ignore in ignores">
          <td>{{ ignore.channel.title }}</td>
          <td>{{ ignore.string }}</td>
          <td>{{ ignore.created | datetime }}</td>
          <td>
            <a ng-click="delete(ignore)" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <form role="form" ng-submit="save()">
      <h2>New</h2>
      <div class="form-group">
        <label>String:</label>
        <input class="form-control" ng-model="ignore.string" placeholder="String">
      </div>

      <div class="form-group">
        <label>Channel:</label>
        <div class="panel panel-default">
          <div class="panel-heading">
            Selected channel: <strong>{{ ignore.channel.title }}</strong>
          </div>
          <div class="panel-body">

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Filter:</label>
                  <input class="form-control" ng-model="channelQuery" placeholder="Channel name">
                </div>
              </div>
            </div>
            <div class="group-channels" ng-show="filtered_channels.length>0">
              <table class="table table-condensed" width="100%">
                <thead>
                <tr>
                  <td><strong>Name</strong></td>
                  <td width="100px"><strong>Select</strong></td>
                </tr>
                </thead>
                <tr ng-repeat="channel in filtered_channels"
                    ng-class="{'info': ignore.channel.id == channel.id}"
                >
                  <td>{{ channel.title }}</td>
                  <td>
                    <a ng-click="ignore.channel = channel"
                       ng-show="ignore.channel.id != channel.id"
                       class="btn btn-block btn-primary text-center"
                    >Select</a><a ng-click="ignore.channel = null"
                                  ng-show="ignore.channel.id == channel.id"
                                  class="btn btn-block btn-warning text-center"
                  >Unselect</a>
                  </td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>

      <div class="form-group">
        <input class="form-control btn-primary" type="submit" value="Create">
      </div>

    </form>
  </div>
</div>
