<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="ModalLabel">News from the developer</h4>
  </div>
  <div class="modal-body news-modal">
    <div ng-repeat="new in news">
      <hr ng-show="!$first">
      <h3>{{ new.title }}</h3>
      <div ng-bind-html="new.text" class="pre-line"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="dismiss()">Close</button>
  </div>
</div>
