<div class="row">
  <div class="col-xs-12 col-md-12">
    <h2>Settings</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" style="margin-bottom: 20px">
    <p>Subscriptions aren't reloaded automatically so you have to manually sync them.</p>
    <a href="/synchronize/" class="btn btn-primary">Update subscriptions from YouTube</a>
  </div>
</div>

<div class="row" ng-show="user.readonly_access">
  <div class="col-xs-12" style="margin-bottom: 20px">
    <h3>Write access</h3>
    <p>By default, BetterSubBox only asks you for read-only permissions for YouTube,
      so for example you can't unsubscribe from site. If you wish to unsubscribe from page,
      you have to give us extra permissions to do so.</p>
    <p>
      <small>This is not necessarily permanent, if you log in from a new different computer (or if you delete cookies),
        we don't know we have to require write permission again,
        so unsubscribe wouldn't work from that computer.
      </small>
    </p>
    <a href="/enable_write_access/?next=/enable_write_access/complete/&write_access=true"
       class="btn btn-primary">Enable write access</a>
  </div>
</div>

<div class="row settings-row">

  <div class="col-md-6 col-sm-12 settingsCol settingsColLeft">Player</div>
  <div class="col-md-6 col-sm-12 settingsCol settingsColRight">
    <select ng-model="user.player" width="100%" class="form-control">
      <option ng-repeat="player in players" value="{{ player.value }}"
              ng-selected="player.value==user.player">{{ player.name }}</option>
    </select>
  </div>

  <div class="col-md-6 col-sm-12 settingsCol settingsColLeft">Homepage</div>
  <div class="col-md-6 col-sm-12 settingsCol settingsColRight">
    <select ng-model="user.homepage" width="100%" class="form-control">
      <option ng-repeat="homepage in homepages" value="{{ homepage.value }}"
              ng-selected="homepage.value==user.homepage">{{ homepage.name }}</option>
    </select>
  </div>

  <div class="col-md-6 col-sm-12 settingsCol settingsColLeft">Mark as watched on open</div>
  <div class="col-md-6 col-sm-12 settingsCol settingsColRight">
    <input bs-switch type="checkbox" ng-model="user.watched_on_open"
           switch-on-text="Yes" switch-off-text="No"
           switch-size="large" ng-true-value="true" ng-false-value="false">
  </div>

  <div class="col-md-6 col-sm-12 settingsCol settingsColLeft">
    Confirm unsubscribes<br>
    <small>Confirm changes after synchronizations.</small>
  </div>
  <div class="col-md-6 col-sm-12 settingsCol settingsColRight">
    <input bs-switch type="checkbox" ng-model="user.confirm_unsubscribe"
           switch-on-text="Yes" switch-off-text="No"
           switch-size="large" ng-true-value="true" ng-false-value="false">
  </div>

  <div class="col-md-6 col-sm-12 settingsCol settingsColLeft">
    Allow elevator sounds<br>
    <small>Change takes effect after page reload.</small>
  </div>
  <div class="col-md-6 col-sm-12 settingsCol settingsColRight">
    <input bs-switch type="checkbox" ng-model="user.allow_elevator_sounds"
           switch-on-text="Yes" switch-off-text="No"
           switch-size="large" ng-true-value="true" ng-false-value="false">
  </div>

  <div class="col-md-6 col-sm-12 settingsCol settingsColLeft">
    Display only videos newer than.<br>
    <small>Applies only to the main Feed.</small>
  </div>

  <div class="col-md-6 col-sm-12 settingsCol settingsColRight">
    <div class="dropdown">
      <a class="dropdown-toggle" id="OlderThanDropDown" role="button"
         data-toggle="dropdown">
        <div class="input-group datetime-select">
          <input type="text" class="form-control pointerCursor"
                 placeholder="Set a date"
                 readonly value="{{ user.older_than | date: 'dd. MM. yyyy' }}">
          <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="removeOlderThanDate()">
                        <i class="fa fa-calendar"> </i>
                    </button>
                </span>
        </div>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker
          ng-model="user.older_than"
          data-datetimepicker-config="{ dropdownSelector: '#OlderThanDropDown', minView: 'day' }"
          ng-change="updateDate(user.older_date)">
      </ul>
    </div>
  </div>

  <div class="col-md-6 col-sm-12 settingsCol settingsColLeft">
    Import watched videos from YouTube<br>
    <small>
      Uses Watch History to check off some videos
    </small>
  </div>
  <div class="col-md-6 col-sm-12 settingsCol settingsColRight">
    <input bs-switch type="checkbox" ng-model="user.load_watched"
           switch-on-text="Yes" switch-off-text="No"
           switch-size="large" ng-true-value="true" ng-false-value="false">
  </div>

  <div class="col-xs-12 settingsCol settingsColRight">
    <a class="btn btn-default" ng-click="save()">Save</a>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
    <div ng-show="!showDangerZone" class="danger-zone text-center">
      <a class="btn btn-danger btn-lg " ng-click="showDangerZone=!showDangerZone">Danger Zone</a>
      <br><br>
    </div>

    <div ng-show="showDangerZone" class="panel panel-red danger-zone">
      <div class="panel-heading pointerCursor" ng-click="showDangerZone=!showDangerZone">
        Danger zone
      </div>
      <div class="panel-body text-center">
        <p>
          With the button bellow you will disconnect your YouTube account and you will delete your BetterSubBox account.
          The data you have here will not be deleted immediately, it will be deleted after 30 days,
          if you register yourself again in that 30 day period, you'll be able to use this site with the data you had
          previously.
        </p>
        <br>
        <a class="btn btn-danger btn-lg" ng-click="deleteAccount()">
          <span class="white-text">Delete account</span>
        </a>
        <br>
      </div>
    </div>
  </div>
</div>
