<div class="row">
  <div class="col-sm-6 col-xs-12">
    <h2>Statistics
      <small>(generated once in a while)</small>
    </h2>
  </div>
  <div class="col-sm-6 col-xs-12 text-right">
    <div style="margin-top: 15px">
      <a class="btn btn-default" ng-show="mode == 'system'" ng-click="set_mode('user')">View my statistics</a>
      <a class="btn btn-default" ng-show="mode == 'user'" ng-click="set_mode('system')">View system statistics</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary statistics-panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-youtube-play fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right ">
            <div class="huge">{{ stats.subscriptions }}</div>
            <div class="big">{{ stats.loaded_videos }}
              <small><abbr title="loaded in the system">videos</abbr></small>
            </div>
            <div>Subscriptions</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green statistics-panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-eye fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ stats.watched_total || 0 }}
              <small>videos</small>
            </div>
            <div class="big">{{ (stats.watched_total_time || 0 ) | displayDecimal }}
              <small>hours</small>
            </div>
            <div>Total watched</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow statistics-panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-calendar-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ stats.watched_month || 0 }}
              <small>videos</small>
            </div>
            <div class="big">{{ (stats.watched_month_time || 0 ) | displayDecimal }}
              <small>hours</small>
            </div>
            <div>Watched this month</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red statistics-panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-clock-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ stats.watched_week || 0 }}
              <small>videos</small>
            </div>
            <div class="big">{{ (stats.watched_week_time || 0 ) | displayDecimal }}
              <small>hours</small>
            </div>
            <div>Watched this week</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Stats for nerds
      </div>
      <div class="panel-body">
        <div id="stats-chart" style="height: 350px;">
        </div>
      </div>
    </div>
  </div>
</div>
