<div class="row">
  <div class="col-xs-12">

    <h2 class="videoHeader" ng-show="VideoService.type!='query'">
      <a ng-click="VideoService.reload()" title="Refresh"><i class="fa fa-refresh pointerCursor"></i></a>
      {{ header }}

      <a ng-click="favorite_change()"
         title="Favorite"
         class="pointerCursor nodecoration"
         ng-show="VideoService.type=='channel'">
        <i class="fa fa-star" style="color: #ffd700" ng-show="channel.subscription.favorite"></i>
        <i class="fa fa-star-o" style="color: #ffd700" ng-hide="channel.subscription.favorite"></i>
      </a>

      <a ng-click="unsubscribe()" title="Unsubscribe" class="pointerCursor nodecoration"
         ng-show="VideoService.type=='channel'">
        <i class="fa-trash-o fa"></i>
      </a>

      <small ng-show="VideoService.type=='channel'" class="channelOptions">
        <a href="https://youtube.com/channel/{{ channel.youtube_id }}"
           target="_blank"
           title="YouTube Page"
           class="nodecoration"
           ng-show="VideoService.type=='channel'">
          <i class="fa-external-link fa"></i>
        </a>
      </small>

    </h2>
    <h2 class="videoHeader" ng-show="VideoService.type=='query'">
      <a ng-click="VideoService.reload()" title="Refresh"><i class="fa fa-refresh pointerCursor"></i> </a>
      Search for {{ VideoService.parameter }}
    </h2>
    <div class="btn-group pull-right layout-btn-group">
      <a class="btn btn-default"
         ng-class="{'active': VideoService.layout == 'regular'}"
         ng-click="VideoService.setLayout('regular')">
        <img src="/static/img/regular.png" class="layout-img" alt="Regular">
      </a>
      <a class="btn btn-default"
         ng-class="{'active': VideoService.layout == 'no-desc'}"
         ng-click="VideoService.setLayout('no-desc')">
        <img src="/static/img/no_desc.png" class="layout-img" alt="No description">
      </a>
      <a class="btn btn-default"
         ng-class="{'active': VideoService.layout == 'columns'}"
         ng-click="VideoService.setLayout('columns')">
        <img src="/static/img/columns.png" class="layout-img" alt="Columns">
      </a>
    </div>
  </div>
</div>
<div class="row" ng-show="VideoService.layout != 'regular' && noFlexWrap">
  <div class="col-xs-12">
    <div class="alert alert-danger text-center">
      You're using a way old browser which sucks. Please upgrade to something <a
      href="https://www.google.com/chrome/" target="_blank">reasonable</a>?
    </div>
  </div>
</div>
<div class="row" id="rowOfVideos"
     infinite-scroll="VideoService.get()"
     infinite-scroll-disabled="VideoService.disable_infinite || VideoService.loading || !VideoService.displayLoadMoreButton()"
     infinite-scroll-distance="0.5"
     infinite-scroll-immediate-check="false"
     ng-class="{'flex-wrap': VideoService.layout != 'regular'}"
>
  <div ng-repeat="video in VideoService.videos | visible track by video.id"
       ng-class="{'col-xs-12': VideoService.layout == 'regular',
                                'col-xs-12 col-md-12 col-lg-6': VideoService.layout == 'no-desc',
                                'col-xs-12 col-sm-12 col-md-6 col-lg-4': VideoService.layout == 'columns',
                                'flex-col': VideoService.layout != 'regular'}">
    <a id="video-{{ video.youtube_id }}"></a>
    <div class="panel panel-default video-panel">
      <div class="panel-heading">
        <a ui-sref="videos.channel({slug: video.channel.slug})" class="nodecoration black-link">
          <img ng-src="{{ VideoService.channelThumbnail(video) }}">
          <div class="text">{{ video.channel.title }}</div>
        </a>

        <small class="plus-videos">
          <span ng-show="video.no_videos_since_last_watched == -1">
              <abbr title="You never marked a video from this channel as watched here on BetterSubBox">
                  +&nbsp;all&nbsp;other&nbsp;videos
              </abbr>
          </span>

          <span ng-show="video.no_videos_since_last_watched > 1">
              <abbr title="+ {{ video.no_videos_since_last_watched - 1 }} new video(s) since the last video you watched from this channel">
                  +&nbsp;{{ video.no_videos_since_last_watched - 1 }}&nbsp;video(s)
              </abbr>
          </span>
        </small>

        <div class="pull-right btn-group">
          <a class="btn btn-default btn-sm"
             ng-class="(!video.state || video.state.watched==false) ? 'btn-default' : 'btn-info'"
             ng-click="VideoService.setState(video, 'watched', (!video.state || video.state.watched==false))"
          >Watched</a>

          <a class="btn btn-default btn-sm"
             ng-class="(!video.state || video.state.ignored==false) ? 'btn-default' : 'btn-info'"
             ng-click="VideoService.setState(video, 'ignored', (!video.state || video.state.ignored==false))"
          >Ignored</a>

          <a class="btn btn-default btn-sm"
             ng-class="(!video.state || video.state.for_later==false) ? 'btn-default' : 'btn-info'"
             ng-click="VideoService.setState(video, 'for_later', (!video.state || video.state.for_later==false))"
          >For Later</a>
        </div>
      </div>
      <div class="panel-body panel-{{$index}}">
        <div ng-class="{'col-xs-12 col-sm-6': VideoService.layout == 'regular',
                                            'col-md-12 col-lg-6': VideoService.layout == 'no-desc',
                                            'col-sm-12': VideoService.layout == 'columns'}">
          <div class="video-img">

            <div class="embed-responsive embed-responsive-16by9">
              <ul class="video-img-tags pull-right" ng-show="!video.visible">
                <li ng-show="video.captions"><a class="btn btn-default btn-xs">CC</a></li>
                <li><a class="btn btn-default btn-xs">{{ video.quality }}</a></li>
                <li><a class="btn btn-default btn-xs">{{ video.duration }}</a></li>
              </ul>

              <a href="https://youtube.com/watch?v={{ video.youtube_id }}"
                 ng-if="VideoService.user.player == 'youtube'"
                 target="_blank"
                 ng-click="VideoService.markAsWatched(video)">
                <img ng-src="{{ VideoService.videoThumbnail(video)}}">
              </a>

              <a href="/watch/{{ video.youtube_id }}/"
                 ng-if="VideoService.user.player == 'full_page'"
                 target="_blank"
                 ng-click="VideoService.markAsWatched(video)">
                <img ng-src="{{ VideoService.videoThumbnail(video)}}">
              </a>

              <a ng-show="VideoService.user.player == 'embeded'"
                 ng-click="video.visible = !video.visible"
                 ng-if="!video.visible"
                 class="pointerCursor">
                <img ng-src="{{ VideoService.videoThumbnail(video)}}">
              </a>

              <div class="embed-responsive embed-responsive-16by9" ng-if="video.visible">
                <youtube-video class="embed-responsive-item"
                               video-id="video.youtube_id"
                               player-vars="{autoplay: 1}"></youtube-video>
              </div>
            </div>

          </div>
        </div>
        <div ng-class="{'col-xs-12 col-sm-6': VideoService.layout == 'regular',
                                            'col-md-12 col-lg-6': VideoService.layout == 'no-desc',
                                            'col-xs-12': VideoService.layout == 'columns'}">
          <h3>
            <a href="https://youtube.com/watch?v={{ video.youtube_id }}"
               ng-show="VideoService.user.player == 'youtube'"
               target="_blank"
               ng-click="VideoService.markAsWatched(video)">
              {{ video.title }}
            </a>

            <a href="/watch/{{ video.youtube_id }}/"
               ng-show="VideoService.user.player == 'full_page'"
               target="_blank"
               ng-click="VideoService.markAsWatched(video)">
              {{ video.title }}
            </a>

            <a ng-click="video.visible = !video.visible"
               ng-show="VideoService.user.player == 'embeded'"
               class="pointerCursor">
              {{ video.title }}
            </a>

            <br>
            <small>
              By <a ui-sref="videos.channel({slug: video.channel.slug})">{{ video.channel.title }}</a>
              - {{ video.published | datetime }}
            </small>
          </h3>
          <span class="description"
                ng-bind-html="video.description | linky:'_blank'"
                youtube-id="{{ video.youtube_id }}"
                ng-if="VideoService.layout == 'regular'"
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-show="VideoService.displayLoadMoreButton()">
  <div class="col-lg-12">
    <a ng-click="VideoService.get()" class="btn btn-block btn-primary">Load more</a>
  </div>
</div>

<div class="row" ng-show="VideoService.loading">
  <div class="col-lg-12">
    <div class="alert alert-info" align="center"> Loading videos...</div>
  </div>
</div>

<div class="row"
     ng-show="!VideoService.loading && !VideoService.displayLoadMoreButton() && !VideoService.displayEmpty() && noMoreMessage">
  <div class="col-lg-12">
    <div class="alert alert-info" align="center"> {{ noMoreMessage }} </div>
  </div>
</div>

<div class="row"
     ng-show="!VideoService.loading && !VideoService.displayLoadMoreButton() && VideoService.displayEmpty() && emptyMessage">
  <div class="col-lg-12">
    <div class="alert alert-warning" align="center"> {{ emptyMessage }} </div>
  </div>
</div>
