<div class="row">
  <div class="col-xs-12 col-md-12">
    <h2>Edit group {{ group.name }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        Edit name
      </div>
      <div class="panel-body">
        <form role="form" ng-submit="save()">
          <div class="form-group">
            <label for="id_name">Name:</label>
            <input class="form-control" ng-model="group.name" id="id_name" maxlength="24">
            <p class="help-block">
              The max length is 24 characters, so the name fits in the sidebar.
            </p>
          </div>

          <div class="form-group">
            <label for="id_exclude_from_feed">Exclude from feed:</label><br>
            <input bs-switch type="checkbox" ng-model="group.exclude_from_feed"
                   id="id_exclude_from_feed"
                   switch-on-text="Yes" switch-off-text="No"
                   switch-size="small" ng-true-value="true" ng-false-value="false">
            <p class="help-block">
              The channels from this group will be excluded from the basic feed if this option is set.
            </p>
          </div>
        </form>
      </div>
      <div class="panel-footer text-right">
        <a class="btn btn-default" ui-sref="groups.list">Back to list</a>
        <a class="btn btn-primary" ng-click="save()">Save</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Members of the group
      </div>
      <div class="panel-body">
        <h4>Channels in the group</h4>
        <div class="group-channels" ng-show="members.length>0">
          <table class="table table-condensed" width="100%">
            <thead>
            <tr>
              <th><strong>Name</strong></th>
              <th width="80px"><strong>Remove</strong></th>
            </tr>

            </thead>
            <tr ng-repeat="member in members">
              <td>{{ member.channel.title }}</td>
              <td>
                <a ng-click="remove(member)" class="btn btn-sm btn-danger btn-block" align="center">Remove</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="alert alert-info" ng-show="members.length==0">
          There are no channels in this group.
        </div>
        <h4>Add a channel</h4>

        <ul class="nav nav-tabs">
          <li ng-class="{active: activeTab==1}" class="pointerCursor">
            <a ng-click="activeTab=1">Filter by name</a>
          </li>
          <li ng-class="{active: activeTab==2}" class="pointerCursor">
            <a ng-click="activateAllTab()" title="Up to a 1000 channels" data-placement="right" data-toggle="tooltip">All
              channels</a>
          </li>
        </ul>
        <br>
        <div class="tab-content">
          <div class="tab-pane fade in active" ng-show="activeTab==1">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input class="form-control" ng-model="channelQuery"
                         ng-change="filterChannels(channelQuery)" placeholder="Channel name">
                </div>
              </div>
            </div>
            <div class="group-channels" ng-show="filteredChannels.length>0">
              <table class="table table-condensed" width="100%">
                <thead>
                <tr>
                  <td><strong>Name</strong></td>
                  <td width="80px"><strong>Add</strong></td>
                </tr>
                </thead>
                <tr ng-repeat="channel in filteredChannels">
                  <td>{{ channel.title }}</td>
                  <td>
                    <a ng-click="add(channel)" class="btn btn-block btn-primary" align="center">Add</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="tab-pane fade in active" ng-show="activeTab==2">
            <div class="group-channels">
              <table class="table table-condensed" width="100%">
                <thead>
                <tr>
                  <td><strong>Name</strong></td>
                  <td width="80px"><strong>Add</strong></td>
                </tr>
                </thead>
                <tr ng-repeat="channel in filterAllChannels()">
                  <td>{{ channel.title }}</td>
                  <td>
                    <a ng-click="add(channel)" class="btn btn-block btn-primary" align="center">Add</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
