<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h2>Groups</h2>
  </div>
  <div class="col-xs-12 col-sm-6 col-next-to-header">
    <a class="btn btn-primary btn-next-to-header" ui-sref="groups.new">Create a group</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-hover" width="100%">
          <thead>
          <tr>
            <th>Name</th>
            <th>Excluded from feed</th>
            <th width="130px">Actions</th>
          </tr>

          </thead>
          <tr ng-repeat="group in groups">
            <td>{{ group.name }}</td>
            <td>
              <span class="fa"
                    ng-class="group.exclude_from_feed ? 'fa-check text-success' : 'fa-times text-danger'"></span>
            </td>
            <td>
              <a ui-sref="groups.edit({slug: group.slug})" class="btn btn-sm btn-primary">Edit</a>
              <a ng-click="delete(group)" class="btn btn-sm btn-danger">Delete</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
