<div class="row">
  <div class="col-xs-12 col-md-12">
    <h2>Create group</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" ng-submit="save()">
          <div class="form-group">
            <label for="id_name">Name:</label>
            <input class="form-control" ng-model="group.name" id="id_name" maxlength="24">
            <p class="help-block">
              The max length is 24 characters, so the name fits in the sidebar.
            </p>
          </div>

          <div class="form-group">
            <label for="id_exclude_from_feed">Exclude from feed:</label><br>
            <input bs-switch type="checkbox" ng-model="group.exclude_from_feed"
                   id="id_exclude_from_feed"
                   switch-on-text="Yes" switch-off-text="No"
                   switch-size="small" ng-true-value="true" ng-false-value="false">
            <p class="help-block">
              The channels from this group will be excluded from the basic feed if this option is set.
            </p>
          </div>

          <div>
            <p>You'll be redirected to channel selection right after creating the group.</p>
          </div>
        </form>
      </div>
      <div class="panel-footer text-right">
        <a class="btn btn-default" ui-sref="groups.list">Back to list</a>
        <a class="btn btn-primary" ng-click="save()">Create</a>
      </div>
    </div>
  </div>
</div>

